

.custom-progress-indicator .indicator {
    -fx-background-color: transparent;
}

.custom-progress-indicator {
    -fx-progress-color: #182f35ac; /* Change the color to green */
}

.custom-progress-indicator .percentage {
   -fx-fill:null;
   visibility: hidden;
}



.combo-box .list-cell {
  -fx-text-fill: #838383;
}

.combo-box .list-view .list-cell {
  -fx-text-fill: black;
}

.invisibleBox{
    -fx-background-color: transparent;
}

.topBar{
    -fx-background-radius: 25 25 0 0;
    -fx-background-color: #233236;
}

.background{
    -fx-background-color: #233236;
    -fx-background-radius: 25;
}


.closeButton{
    -fx-background-color:#233236;
}

.closeButton:hover{
    -fx-background-color: #e94e50;
}


.chart{
    -fx-background-color: #233236;
    -fx-font-size: 10;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: #000000;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.default-color0.chart-series-line { -fx-stroke: #238591; }
.default-color1.chart-series-line { -fx-stroke: #e5d849; }
.default-color2.chart-series-line { -fx-stroke: #ed4d51; }

.activatebutton{
    -fx-text-fill: #dcdcdc;
}

.activatebutton:hover{
    -fx-text-fill: #ffffff;
}

.purple:selected .thumb-area {
    -fx-background-color: #57379b;
}
.purple .thumb-area {
    -fx-background-color: #353535;
}

.linepercentage{
    -fx-stroke:linear-gradient(from 4.1667% 100.0% to 61.7424% 0.0%, reflect, #2cabcf 0.0%, #892525 23.8223%, #19b426 58.0793%, #2cabcf 84.5222%, #892525 100.0%);
}