



/* close botton hover */


.close-button {
    -fx-background-color: transparent;
}

.close-button:hover {
    -fx-background-color: #e81123;
}

/* minimze window bottn */

.minimize-button {
    -fx-background-color: transparent;
}

.minimize-button:hover {
    -fx-background-color: rgba(201, 190, 190, 0.25);
}

/* footer bottons hover */

.footer-button {
    -fx-background-color: transparent;
}

.footer-left-button {
    -fx-background-color: transparent;
    /* do a border radus for right side only */
    -fx-background-radius: 10 0 0 0;
}

.footer-right-button {
    -fx-background-color: transparent;
    /* do a border radus for left side only */
    -fx-background-radius: 0 10 0 0;
}


.footer-button:hover , .footer-left-button:hover , .footer-right-button:hover {
    -fx-background-color: rgba(201, 190, 190, 0.25);
}

.gray-hover {
    -fx-background-color: transparent;
}
.gray-hover:hover {
    -fx-background-color: rgba(201, 190, 190, 0.25);
}

.scroll_pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll_pane .viewport {
    -fx-background-color: transparent;

}
